{% set now = Date() %}{% macro optAttr value %}{% if value %}{{ value }}{% else %}-{% endif %}{% endmacro %}
Name: {{ rpm.name }}
Version: {{ rpm.version }}
Release: {% if rpm.release %}1{% else %}SNAPSHOT{{ now|date('YmdHis') }}{% endif %}
{% if rpm.homepage %}URL: {{ rpm.homepage }}{% endif %}
{% if rpm.summary %}Summary: {{ rpm.summary }}{% endif %}
License: {{ rpm.license }}
{% if rpm.distribution %}Distribution: {{ rpm.distribution }}{% endif %}
{% if rpm.vendor %}Vendor: {{ rpm.vendor }}{% endif %}
{% if rpm.group %}Group: {{ rpm.group }}{% endif %}
{% for rpmRequire in rpm.requires %}Requires: {% autoescape false %}{{ rpmRequire }}{% endautoescape %}
{% endfor %}
autoprov: yes
autoreq: yes

%description
{{ rpm.description }}

{% if rpm.files && rpm.files.length > 0 %}%files
{% if rpm.defaultFilemode || rpm.defaultUsername || rpm.defaultGroupname || rpm.defaultDirmode %}%defattr({{ optAttr(rpm.defaultFilemode) }},{{ optAttr(rpm.defaultUsername) }},{{ optAttr(rpm.defaultGroupname) }},{{ optAttr(rpm.defaultDirmode) }}){% endif %}
{% for rpmFile in rpm.files %}{% if !rpmFile.noRecursion %}{% if rpmFile.filemode || rpmFile.username || rpmFile.groupname %}%attr({{ optAttr(rpmFile.filemode) }},{{ optAttr(rpmFile.username) }},{{ optAttr(rpmFile.groupname) }}) {% endif %}"{{ rpmFile.path }}"{% else %}%dir "{{ rpmFile.path }}"{% endif %}
{% endfor %}{% endif %}